.popup {
	height: 100vh;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba($color-black, .8);
	z-index: 9999;
	//position: fixed; = doesn't move when we scroll this section
	// set a high z-index to make sure the popup is on top of the navigation
	opacity: 0;
	visibility: hidden;
	transition: all .3s;

		@supports(-webkit-backdrop-filter: blur(5px)) or (backdrop-filter: blur(5px)) {
				  -webkit-backdrop-filter: blur(5px);
				  backdrop-filter: blur(5px);
			      background-color: rgba($color-black, .3);
		}

// these two settings allow the info for the popup to be visable after we use an Anchor + Target 

	&__content {
		@include absCenter;

		width: 75%;
		background-color: $color-white;
		box-shadow: 0 2rem 4rem rgba($color-black, .2);
		border-radius: 3px;
		// 75% width = always occupies 75% of the container 
		display: table;
		// this one functions as the table parent so the browser gives it and it's cells the same height!
		overflow: hidden;
		// IMAGE THAT OVERFLOWS THE BORDER RADIUS WILL BE HIDDEN!
		opacity: 0;
		transform: translate(-50%, -50%) scale(.25);
		transition: all .5s .2s;
		// the .2s delays the transition for .2seconds for the content
	}

	&__left {
		width: 33.333333%;
		display: table-cell;
		// use table-cell to make sure the left and right side of the table have the same height
	}

	&__right {
		width: 66.666667%;
		display: table-cell;
		vertical-align: middle;
		// content for the right cell is aligned in the middle of the table cell
		padding: 3rem 5rem;
		// the padding here makes the right text have some space from the left table cell
	}

	&__img {
		display: block;
		width: 100%;

	}
	 // width is set to 100% so it's 100% of the PARENT CONTAINERS WIDTH! 

	&__text {
		font-size: 1.4rem;
		margin-bottom: 4rem;
		
		-moz-column-count: 2;
		-moz-column-gap: 4rem;
		-moz-column-rule: 1px solid $color-grey-light-2;

		column-count: 2;
		column-gap: 4rem; // default is 1em = 14px; - 1 em is always the font size of current element
		column-rule: 1px solid $color-grey-light-2;
		-moz-hyphens: auto;
		-ms-hyphens: auto;
		-webkit-hyphens: auto;
		hyphens: auto;
	}
	// column-count: 2; automatically gives us 2 colums for the text in this class
	// columm-gap: 4rem; gives us space in the columns
	// column-rule: 1px solid $color-grey-light-2; creates the line between the columns


	// OPEN STATES // 
	&:target {
		opacity: 1;
		visibility: visible;
		// pseudo class target applies to the element which is the target when we click on the button
	}

	&:target &__content {
		opacity: 1;
		transform: translate(-50%, -50%) scale(1);
		// this makes the popup go back to 100% after it 'zooms' in from the .5 of the '&__content' element
	}

	// when the popup becomes the target, we are styling the content (child) of that element

	&__close {
		&:link,
		&:visited {
			color: $color-grey-dark;
			position: absolute;
			top: 2.5rem;
			right: 2.5rem;
			font-size: 3rem;
			text-decoration: none;
			display: inline-block;
			transition: all .2s;
			line-height: 1;
		}

		&:hover {
			color: $color-primary;
		}
	}
}
