.section-about {
	background-color: $color-grey-light-1;
	padding: 25rem 0;
	margin-top: -20vh;
	// moves up the VERTICAL HEIGHT ON THE RIGHT SIDE per the _header.scss file by 20vh, subtracts 95vh from 75vh. 
	
}

.section-features {
	padding: 20rem 0;
	background-image: linear-gradient(
		to right bottom, 
		rgba($color-primary-light, 0.8),  
		rgba($color-primary-dark, 0.8)), 
		url(../img/nat-4.jpg);
	background-size: cover;
	margin-top: -12rem;
	transform: skewY(-7deg); 

	& > * {
		transform: skewY(7deg);
	
	}
}

// 'bacground image: linear-gradient;' trick taken from our HEADER.SCSS file where we did this with 
// the main image on the top of the website. 
// background size set to COVER so it covers the entire section. 

// transform: skewY; pushes the entire section UP -7DEGREES ... so you have to move the boxes down by 7deg

// .section-features > (direct child) * (all of them) - 'row' is the direct child of section-features
// doing this helps us if we add more rows or scale the website in the future

// margin-top: -10rem; moves the left side of this section (bknd img) up to meet the section above it so there 
// is no gap in the design.  

.section-tours {
	background-color: $color-grey-light-1; 
	padding: 25rem 0 15rem 0;
	margin-top: -12rem;
} 

// 	transform: skewY(-7deg);

// 	& > * {
// 		transform: skewY(7deg);

.section-stories {
	position: relative;
	padding: 15rem 0;
} 


.section-book {
	padding: 15rem 0;
	background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
}

.book {
	background-image: linear-gradient(105deg,
	                  rgba($color-white, .9) 0%,
	                  rgba($color-white, .9) 50%,
	                  transparent 50%) ,
	                  url(../img/nat-10.jpg);
	background-size: 100%;
	border-radius: 3px;
	box-shadow: 0 1.5rem 4rem rgba($color-black, .2);

	height: 50rem; 

	&__form {
		width: 50%;
		padding: 6rem;
	}
}

// adding the 'linear-gradient , 90deg and RGBA properties' on top of the URL allow us to make that slick angular gradient
// that is on top of the background image! 
// you can specify percentages (0% -for the white at the beginning) - at different points of the gradient which colour there should be.
// ---- and then we add 50% to the second color so the gradient doesn't go fully across, stops halfway and fills the color from 50% forward.
// what we setup above makes it WHITE for 50% at 105deg and then ORANGE (OR TRANSPARENT VALUE) after 50% 


// &__form - set to 50% to have the form occupy 50% of the book box 
